[data-theme='dark'] pre { line-height: 125%; }
[data-theme='dark'] td.linenos .normal { color: #37474F; background-color: #101810; padding-left: 5px; padding-right: 5px; }
[data-theme='dark'] span.linenos { color: #37474F; background-color: #101810; padding-left: 5px; padding-right: 5px; }
[data-theme='dark'] td.linenos .special { color: #607A86; background-color: #101810; padding-left: 5px; padding-right: 5px; }
[data-theme='dark'] span.linenos.special { color: #607A86; background-color: #101810; padding-left: 5px; padding-right: 5px; }
[data-theme='dark'] .highlight .hll { background-color: #2C3B41 }
[data-theme='dark'] .highlight { background: #101810; color: #EEFFFF }
[data-theme='dark'] .highlight .c { color: #849EAA; font-style: italic } /* Comment */
[data-theme='dark'] .highlight .err { color: #FF5370 } /* Error */
[data-theme='dark'] .highlight .esc { color: #89DDFF } /* Escape */
[data-theme='dark'] .highlight .g { color: #EEFFFF } /* Generic */
[data-theme='dark'] .highlight .k { color: #BB80B3 } /* Keyword */
[data-theme='dark'] .highlight .l { color: #76B900 } /* Literal */
[data-theme='dark'] .highlight .n { color: #EEFFFF } /* Name */
[data-theme='dark'] .highlight .o { color: #89DDFF } /* Operator */
[data-theme='dark'] .highlight .x { color: #849EAA } /* Other */
[data-theme='dark'] .highlight .p { color: #89DDFF } /* Punctuation */
[data-theme='dark'] .highlight .ch { color: #849EAA; font-style: italic } /* Comment.Hashbang */
[data-theme='dark'] .highlight .cm { color: #849EAA; font-style: italic } /* Comment.Multiline */
[data-theme='dark'] .highlight .cp { color: #849EAA; font-style: italic } /* Comment.Preproc */
[data-theme='dark'] .highlight .cpf { color: #849EAA; font-style: italic } /* Comment.PreprocFile */
[data-theme='dark'] .highlight .c1 { color: #849EAA; font-style: italic } /* Comment.Single */
[data-theme='dark'] .highlight .cs { color: #849EAA; font-style: italic } /* Comment.Special */
[data-theme='dark'] .highlight .gd { color: #FF5370 } /* Generic.Deleted */
[data-theme='dark'] .highlight .ge { color: #89DDFF } /* Generic.Emph */
[data-theme='dark'] .highlight .gr { color: #FF5370 } /* Generic.Error */
[data-theme='dark'] .highlight .gh { color: #76B900 } /* Generic.Heading */
[data-theme='dark'] .highlight .gi { color: #76B900 } /* Generic.Inserted */
[data-theme='dark'] .highlight .go { color: #849EAA } /* Generic.Output */
[data-theme='dark'] .highlight .gp { color: #FFCB6B } /* Generic.Prompt */
[data-theme='dark'] .highlight .gs { color: #FF5370 } /* Generic.Strong */
[data-theme='dark'] .highlight .gu { color: #89DDFF } /* Generic.Subheading */
[data-theme='dark'] .highlight .gt { color: #FF5370 } /* Generic.Traceback */
[data-theme='dark'] .highlight .kc { color: #89DDFF } /* Keyword.Constant */
[data-theme='dark'] .highlight .kd { color: #BB80B3 } /* Keyword.Declaration */
[data-theme='dark'] .highlight .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
[data-theme='dark'] .highlight .kp { color: #89DDFF } /* Keyword.Pseudo */
[data-theme='dark'] .highlight .kr { color: #BB80B3 } /* Keyword.Reserved */
[data-theme='dark'] .highlight .kt { color: #BB80B3 } /* Keyword.Type */
[data-theme='dark'] .highlight .ld { color: #76B900 } /* Literal.Date */
[data-theme='dark'] .highlight .m { color: #F78C6C } /* Literal.Number */
[data-theme='dark'] .highlight .s { color: #76B900 } /* Literal.String */
[data-theme='dark'] .highlight .na { color: #BB80B3 } /* Name.Attribute */
[data-theme='dark'] .highlight .nb { color: #82AAFF } /* Name.Builtin */
[data-theme='dark'] .highlight .nc { color: #FFCB6B } /* Name.Class */
[data-theme='dark'] .highlight .no { color: #EEFFFF } /* Name.Constant */
[data-theme='dark'] .highlight .nd { color: #82AAFF } /* Name.Decorator */
[data-theme='dark'] .highlight .ni { color: #89DDFF } /* Name.Entity */
[data-theme='dark'] .highlight .ne { color: #FFCB6B } /* Name.Exception */
[data-theme='dark'] .highlight .nf { color: #82AAFF } /* Name.Function */
[data-theme='dark'] .highlight .nl { color: #82AAFF } /* Name.Label */
[data-theme='dark'] .highlight .nn { color: #FFCB6B } /* Name.Namespace */
[data-theme='dark'] .highlight .nx { color: #EEFFFF } /* Name.Other */
[data-theme='dark'] .highlight .py { color: #FFCB6B } /* Name.Property */
[data-theme='dark'] .highlight .nt { color: #FF5370 } /* Name.Tag */
[data-theme='dark'] .highlight .nv { color: #89DDFF } /* Name.Variable */
[data-theme='dark'] .highlight .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
[data-theme='dark'] .highlight .w { color: #EEFFFF } /* Text.Whitespace */
[data-theme='dark'] .highlight .mb { color: #F78C6C } /* Literal.Number.Bin */
[data-theme='dark'] .highlight .mf { color: #F78C6C } /* Literal.Number.Float */
[data-theme='dark'] .highlight .mh { color: #F78C6C } /* Literal.Number.Hex */
[data-theme='dark'] .highlight .mi { color: #F78C6C } /* Literal.Number.Integer */
[data-theme='dark'] .highlight .mo { color: #F78C6C } /* Literal.Number.Oct */
[data-theme='dark'] .highlight .sa { color: #BB80B3 } /* Literal.String.Affix */
[data-theme='dark'] .highlight .sb { color: #76B900 } /* Literal.String.Backtick */
[data-theme='dark'] .highlight .sc { color: #76B900 } /* Literal.String.Char */
[data-theme='dark'] .highlight .dl { color: #EEFFFF } /* Literal.String.Delimiter */
[data-theme='dark'] .highlight .sd { color: #849EAA; font-style: italic } /* Literal.String.Doc */
[data-theme='dark'] .highlight .s2 { color: #76B900 } /* Literal.String.Double */
[data-theme='dark'] .highlight .se { color: #EEFFFF } /* Literal.String.Escape */
[data-theme='dark'] .highlight .sh { color: #76B900 } /* Literal.String.Heredoc */
[data-theme='dark'] .highlight .si { color: #89DDFF } /* Literal.String.Interpol */
[data-theme='dark'] .highlight .sx { color: #76B900 } /* Literal.String.Other */
[data-theme='dark'] .highlight .sr { color: #89DDFF } /* Literal.String.Regex */
[data-theme='dark'] .highlight .s1 { color: #76B900 } /* Literal.String.Single */
[data-theme='dark'] .highlight .ss { color: #89DDFF } /* Literal.String.Symbol */
[data-theme='dark'] .highlight .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
[data-theme='dark'] .highlight .fm { color: #82AAFF } /* Name.Function.Magic */
[data-theme='dark'] .highlight .vc { color: #89DDFF } /* Name.Variable.Class */
[data-theme='dark'] .highlight .vg { color: #89DDFF } /* Name.Variable.Global */
[data-theme='dark'] .highlight .vi { color: #89DDFF } /* Name.Variable.Instance */
[data-theme='dark'] .highlight .vm { color: #82AAFF } /* Name.Variable.Magic */
[data-theme='dark'] .highlight .il { color: #F78C6C } /* Literal.Number.Integer.Long */